*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.container{
    padding: 0 20px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    padding: 10px 0;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    justify-content: center;
    margin-top: 5px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color: black;
}
main{
    width: 100%;

}
main div{
    padding: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid black;
    font-size: 14px;
}
main div img{
    width: 250px;
    margin-top: 5px;
}
main div p{
    margin-top: 5px;
}
footer{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    color: white;
    margin-bottom: 2px;
}
footer .link{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}
.link a{
    color: white;
    text-decoration: none;
}